.columntop
    {
        height:200px;background-color: rgb(238, 159, 64);opacity:0.9;
    }
.column1
    {
        height:600px;width:10%;background-color: rgb(235, 196, 125);float:left;position :fixed ;   
    }
.column1-2
    {
        height: 5000px;;width:10%;background-color: rgb(235, 196, 125);float:left;   
    }
.column2
    {
        height:800px;width:90%;background-color: rgb(252, 180, 121);float:left;
            
    }
#header
    {
        background-image:url("travel4.jpg");
        background-position:top center;
        background-repeat:no-repeat;
        background-size: auto 100%;
        opacity:0.3;
        height:200px
    }

h1 
    {
        color:#000c47;
        font-size: 50px;
        text-align:center; 
    }

h2
    {
        color:#000000;
        font-size: 40px;
        text-align:center; 
    }
h3 
    {
        color: #000000;
        font-size: 60px;
        text-align: left;
        margin: 20px;
    }
#ula {list-style-type:circle;font-size: 30px;margin: 0;}
p
    {
        color: #000000;
        font-size: 40px;
        text-align: left;
        margin: 0px;
    }
 
.hover 
{
    position:relative;float: right;width: 30%;
}


.hover img {
      position:absolute;
      max-width:100%; height:auto;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
    }
    
    
    
    .hover img:nth-of-type(2):hover{
      opacity:0;
    }



.column1 p
    {
        font-family:"Arial";
        font-size:30px;
        text-align:center;
        margin: 10px;
    }

.column1 p:hover
    {
        background-color:rgb(218, 143, 93);
        font-size:50px;
    }

#para1
    {
        text-align:center;color:blue;
    }

#para1:hover
    {
    background-color: red;
    color:white;
    }

.center
    {
        text-align:center;
    }

#div-map{width:60%;float: left;}
   
    .div-map img    
        {   
            display:block; margin:auto;
        }


.columntop img {max-width:100%; height:auto; opacity: 1;}

img:hover
    {   
    opacity:0.8;    
    }
#div0{height:50vh;background-color:white}
#div1 {height:100vh;background-color:rgb(255, 216, 139)}
#div2 {height:100vh;background-color:rgb(241, 157, 88)}
#div3 {height:100vh;background-color:rgb(255, 145, 56)}
#div4 {height:100vh;background-color:rgb(255, 130, 28)}
#div5 {height:100vh;background-color:rgb(197, 96, 13)}
a:link {background-color: rgb(235, 196, 125) }
a:visited {background-color: rgb(218, 143, 93) }
a:hover {background-color: #a8ffa0; }
a:active {background-color: #ffc874; }
