.columntop
    {
        height:300px;background-color: rgb(112, 55, 9);opacity:0.9;
    }
.column1
    {
        height:600px;width:10%;background-color: rgb(235, 196, 125);float:left;position :fixed ;   
    }
.column1-2
    {
        height: 5000px;;width:10%;background-color: rgb(235, 196, 125);float:left;   
    }
.column2
    {
        height:800px;width:90%;background-color: rgb(252, 180, 121);float:left;
            
    }
#header
    {
        background-image:url("travel4.jpg");
        background-position:top center;
        background-repeat:no-repeat;
        background-size: auto 100%;
        opacity:0.3;
        height:300px
    }

h1 
    {
        color:#ffa600;
        text-align:center; 
    }
p
    {
        font-family:"Arial";
        font-size:40px;
    }
.column1 p
    {
        text-align:center;
    }
.column1 p:hover
    {
        background-color:rgb(218, 143, 93);
        font-size:50px;
    }

#para1
    {
        text-align:center;color:blue;
    }
#para1:hover
    {
    background-color: red;
    color:white;
    }
.center
    {
        text-align:center;
    }

div img    
    {   
        position:absolute; top:0; right:0; left:0; bottom:0; margin:auto;
    }
img {max-width:100%; height:auto; opacity: 1;}
img:hover
    {   
    opacity:0.8;    
    }
#div0{height:50vh;background-color:white}
#div1 {height:100vh;background-color:rgb(252, 180, 121)}
#div2 {height:100vh;background-color:rgb(252, 180, 121)}
#div3 {height:100vh;background-color:rgb(252, 180, 121)}
